body{
    background-color: #141414 !important;
}

.text-center img{
    margin-bottom: 30px;
}

.btn-block{
    width: 100%;
    margin-top: 20px;
}

.badge-primary{
    float: right;
}

#text-input{
    margin-bottom: 20px;
}

